body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.header-area {
    background-image: url(images/donation16.jpg);
}

.header-content {
    width: 70%;
    margin: 0 auto;
    padding: 200px 0;
    text-align: center;
}

.header-content h1 {
    color: white;
    font-size: 50px;
    text-align: center;
    margin: 0;
}

.header-content p {
    color: white;
    width: 70%;
    text-align: center;
    margin: 10px auto;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 30px;
    font-weight: 100;
}

.button-link {
    color: white;
    background-image: linear-gradient(tomato, brown);
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 7px;
    box-shadow: 1px 5px 25px grey
}

.donation-area {
    padding: 100px 0;
    text-align: center;
}

.donation-area h1 {
    font-size: 50px;
    text-align: center;
    margin: 10px 0;
}

.donation-area p {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.amount-area {
    display: flex;
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;
}

.amount {
    width: 20%;
    background-color: rgb(245, 245, 245);
    margin-left: 15px;
    border-radius: 7px;
}

.amount h2 {
    text-align: center;
    color: dimgray;
    padding: 7px;
    font-size: 30px;
}

#common-donation {
    background-color: rgb(255, 224, 219);
    border: 3px solid tomato;
}

#common-donation h2 {
    color: tomato;
}

#input-tk {
    font-size: 20px;
    border: none;
    border-bottom: 2px solid rgb(186, 186, 186);
    display: block;
    margin: 0 auto;
    padding: 7px 300px;
}

#donate-now {
    margin: 40px 0;
    margin-left: -70px;
    display: inline-block;
}

.plan-area {
    display: flex;
    padding: 50px 0;
}

#blue-bg {
    background-color: rgb(225, 225, 252);
}

.example-plan {
    width: 26%;
    margin-left: 3%;
    background-color: rgb(254, 234, 231);
    padding: 0 20px;
    padding-top: 35px;
    border-radius: 10px;
}

.donate-plan-area h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0;
}

#short-details {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

p {
    color: rgb(144, 144, 144)
}

.contribute {
    display: flex;
    padding: 70px 0;
}

.contribute-area {
    width: 50%;
    margin-left: 3%;
}

.contribute-area img {
    width: 90%;
    border-radius: 10px;
    margin-top: 100px;

}

.contribute-area h1 {
    font-size: 50px;
}

.contribute-area p {
    width: 70%;
    font-size: 20px;
    padding-bottom: 20px;
}

.update-area {
    text-align: center;
    padding: 100px 0;
}

.update-area h1 {
    font-size: 50px;
    margin: 0;
}

.email {
    background: rgb(255, 235, 232);
    width: 70%;
    margin: 60px auto;
    padding: 70px 0;
}

.email input {
    font-size: 16px;
    background-color: rgb(214, 212, 212);
    border: none;
    padding: 12px 20px;
    border-radius: 5px 0 0 5px;
}

.email button {
    color: white;
    background-image: linear-gradient(tomato, brown);
    border: none;
    padding: 12px 30px;
    border-radius: 0 5px 5px 0;
    margin-left: -5px;
    font-size: 16px;

}

footer {
    background-color: black;
    padding: 50px 0;
    text-align: center;
}

footer h2 {
    color: rgb(236, 75, 75);
    margin: 0;
}

footer p {
    margin: 0;
    font-size: 14px;

}